# Important Requirements here.
telethon
gitpython
https://github.com/New-dev0/Telethon-Patch/archive/main.zip
google-api-python-client
opencv-python-headless
numpy
profanitydetector
qrcode
cloudscraper
twikit
htmlwebshot
yt-dlp
jikanpy
google-trans-new
covid
pyfiglet
pyjokes
markdownify
emoji
quotefancy
lyrics-extractor
SpeechRecognition
textblob
speedtest-cli
shazamio
wikipedia
instagrapi
img2html
GitPython
lottie
oauth2client
pypdf2
tabulate
tgcrypto
youtube-search-python
python-decouple
python-dotenv
telegraph
enhancer
requests
aiohttp
catbox-uploader
cloudscraper
# Database Drivers
pymongo[srv]
redis
hiredis
psycopg2-binary
localdb.json
coloredlogs
safety
psutil
pytz
beautifulsoup4
pillow
lxml
apscheduler
fastapi
uvicorn

